Octopus.opensdf
Debug/*
Debug-old/*
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/DisplayDialog.obj
Debug/link.read.1.tlog
Debug/MainFrm.obj
Debug/Octopus.exe
Debug/Octopus.ilk
Debug/Octopus.log
Debug/Octopus.map
Debug/Octopus.obj
Debug/Octopus.pdb
Debug/Octopus_LED.obj
Debug/OctopusCameraDisplay.obj
Debug/OctopusCameraDlg.obj
Debug/OctopusClock.obj
Debug/OctopusDoc.obj
Debug/OctopusFocus.obj
Debug/OctopusLaser.obj
Debug/OctopusLasers.obj
Debug/OctopusLog.obj
Debug/OctopusObjectivePiezo.obj
Debug/OctopusScope.obj
Debug/OctopusScript.obj
Debug/OctopusShutter.obj
Debug/OctopusStage545.obj
Debug/OctopusView.obj
Debug/OctopusXCite.obj
Debug/vc100.pdb
